### 연산자
#### 대입연산자

In [1]:
i = 3
s = 'korea'
f = 3.1415
print(type(i), type(s), type(f))

# 사용하지 않는 변수를 읽으면 예외 발생
# NameError: name '변수명' is not defined

<class 'int'> <class 'str'> <class 'float'>

#### 산술 연산자

In [2]:
print(3**3)  # 거듭제곱
print(5/2, 5//2)
print(type(5/2), type(5//2))
print(7%3)  # 나머지

27
2.5 2
<class 'float'> <class 'int'>
1

#### 복합 대입 연산자

In [3]:
a = 5
a += 1  # a = a+1
print(a)
a -= 2  # a = a-2
print(a)
a *= 5  # a = a*5
print(a)

6
4
20

#### 문자열 연산

In [4]:
# 'str'+'str' = strstr
s1 = "대한민국"
s2 = "만세"
print(s1+s2)

# 'str'*정수
print("="*30)

대한민국만세
==============================

In [5]:
s = "korea" + str(2002)
print(s)

# 틀린표현
# s = "korea" + 2002
# TypeError: can only concatenate str (not "int") to str

i = 10 + int("22")
print(i)

# 틀린표현
# i = 10 + int("22.5")
# ValueError: invalid literal for int() with base 10: '22.5

korea2002
32

In [6]:
print(int("0b101000",2))
print(int("0o50",8))
print(int("0x28",16))

40
40
40

#### 타입 변환

In [7]:
i = 10 + int(float("22.5"))
print(i)

32

In [8]:
print(int(3.1415))
print(round(3.1415))
print(round(3.1415, 1))
print(round(3.1415, 3))
print(round(3.1415, 5))
print(round(3.1415, -1))
print(round(31415, -3))

3
3
3.1
3.142
3.1415
0.0
31000