## 수치형
### 정수

In [1]:
a = 1234567890
print(a)
print(a ** 100)  # ** : 거듭제곱

1234567890
1417417260103558770214252423976142668502309843289216833019048237594757708238986182489372231899746980921982728329402793285767462862882464121635860400730716254039942351084846547018518131114125220170734365519774681825663555080960088448187700306662591033835497547065849829393393851336850513516716654954594842407071059129565467264692831108320130483612672587797723547589358874240495338978427064891700798459028240889817739929243620390292500203679620864971533914260827834601579209314189120626901904458486936727622905582367388818325467159626747054599568953786703562122799941680845141148189896305104641344839457223830507901762718528867396981775965176554700698356765830690713630912519126290583362303892345035739308972274807594103376959348593678587147932967060392101430789829817061010598621196674073173467189374435975660010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [2]:
a = 0x1a  # 16진법
print(a)

b = 0o17  # 8진법
print(b)

c = 0b1101  # 2진법
print(c)

print(hex(c))  # 2진법 -> 16진법
print(oct(c))  # 2진법 -> 8진법
print(bin(c))  # 2진법 -> 2진법

26
15
13
0xd
0o15
0b1101

### 실수

In [3]:
a = 9.46e12
print(a)

9460000000000.0

### 복소수

In [4]:
a = 1+2j
b = 2+4j
print(a+b)

(3+6j)

## 문자열

In [5]:
a = "string"
print(a)

a = 'string'
print(a)

# 틀린표현
# "string' or 'string"

string
string

In [6]:
s = """여러 줄에 걸쳐
문자열을 정의하는 경우"""
print(s)

s = '''여러 줄에 걸쳐
문자열을 정의하는 경우'''
print(s)

# 틀린표현
# s = "여러 줄에 걸쳐
# 문자열을 정의하는 경우"
# s = '여러 줄에 걸쳐
# 문자열을 정의하는 경우'

여러 줄에 걸쳐
문자열을 정의하는 경우
여러 줄에 걸쳐
문자열을 정의하는 경우

In [7]:
s = "korea" "japan" "2002"
print(s)

s = ("korea"
    "japan"
    "2002")
print(s)

koreajapan2002
koreajapan2002

In [8]:
linecontinue = 365*24*\
    60*60
print(linecontinue)

# 틀린표현
# linecontinue = 365*24*
#    60*60

31536000

In [9]:
a = "I say 'Hello' to you"
print(a)

a = 'I say "Hello" to you'
print(a)

# 틀린표현
# a = "I say "Hello" to you" or
# a = 'I say 'Hello' to you'

a = "I say \"Hello\" to you"
print(a)

a = 'I say \'Hello\' to you'
print(a)

I say 'Hello' to you
I say "Hello" to you
I say "Hello" to you
I say 'Hello' to you

In [10]:
a = 'first\nsecond'
print(a)

a = 'first\tsecond'
print(a)

first
second
first	second

In [11]:
print(ord('a'))  # 97
print(chr(97))  # a

# abc...z 출력
for c in range(ord('a'),ord('z')+1):
    print(chr(c), c)

97
a
a 97
b 98
c 99
d 100
e 101
f 102
g 103
h 104
i 105
j 106
k 107
l 108
m 109
n 110
o 111
p 112
q 113
r 114
s 115
t 116
u 117
v 118
w 119
x 120
y 121
z 122

## 컬렉션
### 리스트

In [12]:
member = ['손오공', '저팔계', '사오정', '삼장법사']
print(type(member))
print(member)

<class 'list'>
['손오공', '저팔계', '사오정', '삼장법사']

### 튜플

In [13]:
member = ('손오공', '저팔계', '사오정', '삼장법사')
print(type(member))
print(member)

<class 'tuple'>
('손오공', '저팔계', '사오정', '삼장법사')

In [14]:
a = 5
b = a==5  # a가 5인지 아닌지 확인한 값을 b에 대입

print(a)
print(type(a))
print(b)
print(type(b))

if a == 5:
    print('a는 5입니다')

5
<class 'int'>
True
<class 'bool'>
a는 5입니다

In [15]:
a = None
print(a)

None