- 출력

In [1]:
print(3+4)

7

In [2]:
value = 1234
print(value)
print(value*2)

1234
2468

In [3]:
a = 12
b = 34
print(a, b)
print(a, b, sep=',')
print(a, b, sep='')
print(a, b, sep='--->')

12 34
12,34
1234
12--->34

In [4]:
a = '고양이'
b = '강아지'
print(a, b, end=' ')

고양이 강아지

In [5]:
print(12, 34, 56, sep='^^', end='--->')
print(78)

12^^34^^56--->78

- 입력

In [6]:
age = input("How old are you?")
print(age)
print(type(age))  # type(age) 로 써도 jupyter notebook에서는 출력

28
<class 'str'>

In [7]:
price = input("가격은? : ")
num = input("수량은? : ")
sum = int(price) * int(num) # int 꼭 필요
print("총액은", sum, "원입니다.")

총액은 50000 원입니다.